* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #e5e5e5 ;
  }
  
  .header {
    width: 100%;
    height: 100vh;
  }
  
  .sidebar {
    background-color: white;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 80px 20px;
    z-index: 10;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .user-picture {
    display: flex;
    align-items: center;
    width: 35%;
    padding: 10px;
    object-fit: cover;
    margin-right: auto;
    justify-content: space-between;
    margin-left: 65px;
  }
  
  .user-picture h5 {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 15px;
  }
  .user-picture a {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    color: #9b9b9b;
  }
  
  ul {
    list-style: none;
    padding: 0 15px;
  }
  
  ul li {
    margin: 20px 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  
  ul li img {
    width: 30px;
    margin-right: 10px;
  }
  
  ul li a {
    white-space: nowrap;
    color: #9b9b9b;
  }
  
  .side-link li a {
    list-style: none;
  }
  
  .side-link {
    transition: all 0.32s ease 0s;
  }
  
  .side-link li a:hover {
    color: black !important;
    font-weight: bold;
  }
  
  .side-link-active {
    color: black !important;
    font-weight: bold;
  }