

.page-content {
  position: absolute;
  background-color: white;
  width: 65%;
  height: 75%;
  top: 130px;
  left: 400px;
  padding: 10px 10px;
  z-index: 100;
  border-radius: 5px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.page-content p {
  white-space: nowrap;
  color: #9b9b9b;
}

.page-content hr {
  border-width: 1px;
  border-color: #9b9b9b;
}

input[type="file"] {
  display: none;
}

.btn-label label {
  display: block;
  position: relative;
  border-width: 1px;
  border-style: solid;
  color: #9b9b9b;
  font-size: 13px;
  text-align: center;
  width: 130px;
  padding: 8px 5px;
  border-radius: 40px;
  margin: auto;
  cursor: pointer;
}

.input-group-append {
  cursor: pointer;
}

.page-content button {
  position: absolute;
  background-color: #db3022 !important;
  border: none;
  color: white;
  border-radius: 22px;
  text-decoration: none;
  right: 600px;
  left: 165px;
  padding: 10px 25px;
}

// shippung style
.shipping-address button{
position: absolute;
 border-style: dashed;
 border-width: 2px;
 border-radius: 10px;
 width: 750px;
 height: 86px;
 right: 0;
left: 70px;
 background-color:transparent !important;
 color: #9B9B9B;
 font-weight: 600;
    cursor: pointer;

}

.center h4{
    position: absolute;
    text-align: center !important;
    right: 170px;
}
.btn-cancel{
  position: relative;
  background-color: transparent !important ;
  color:#9B9B9B !important;
  border-color: #9B9B9B !important;
  border-radius: 20px !important;
  left:-1em;
  width: 7em;
}

.btn-save{
  position: relative;
  background-color:  #DB3022  !important ;
  color:white !important;
  border-color:#DB3022 !important;
  border-radius: 20px !important;
  left:-1em;
  width: 7em;
}

.shipping-address .box-address{
  
position: relative;
border-style: solid;
border-width: 1px;
border-radius: 10px;
width: 750px;
height: 210px;
right: 0;
left: 45px;
top: 120px;
background-color:transparent !important;
color: #DB3022;
font-weight: 600;
}

.box-address h4{
  position: relative;
  margin-top: 30px;
  left: 40px;
  padding-left: 20;
}
.box-address p{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 40px;
  color: black;
  font-weight: 400;
}

.btn-change-address{
  font-weight: 700 !important;
  color: #DB3022;
  position: relative;

  left: 30px;
}


// my-order-style
.my-order-nav{
  position: relative;
  right: 1em;
}




.text-link  a {
  list-style: none;
  padding: 14px 16px;
  white-space: nowrap;
  color: #9b9b9b;

}

.text-link {
  transition: all 0.32s ease 0s;
}

.text-link  a:hover {
  color: #DB3022;
  font-weight: 600;
  border-bottom: 3px solid #DB3022 ;
  
}

.text-on{
  color:  #DB3022 !important;
  font-weight: bold;
  border-bottom: 3px solid #DB3022;
}

